# Dossier contenant les modèles entraînés
/Workshop_4/cat_detector/model/
/Workshop_4/linear_regression/model/
/Workshop_4/cat_detector/pycache/
/Workshop_4/cat_detector/solution.ipynb
/Workshop_4/cat_detector/raw.ipynb
/Workshop_4b
/Workshop_3/linear_regression_simple/linear.ipynb
/Workshop_5/correction.ipynb
/Workshop_5/tuto.docx
/Workshop_5/data/
/Workshop_5/runs/
/Workshop_6/build_network/Building_your_Deep_Neural_Network_Step_by_Step.ipynb
/Workshop_6/build_network/correction.ipynb
/Workshop_6/use_network/Deep Neural Network - Application.ipynb
/Workshop_6/use_network/correction.ipynb

/Workshop_7
/Workshop_8
# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Notebooks checkpoints
.ipynb_checkpoints/

# Environnements virtuels
venv/
env/
ENV/

# Fichiers système
.DS_Store
Thumbs.db
~$*

# Others
inspiration.txt