# Dossier contenant les modèles entraînés
/Workshop_4/cat_detector/model/
/Workshop_4/linear_regression/model/
/Workshop_4/cat_detector/pycache/
/Workshop_4/cat_detector/solution.ipynb
/Workshop_4/cat_detector/raw.ipynb
/Workshop_3/linear_regression_simple/linear.ipynb
/Workshop_5
/Workshop_6
# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class

# Notebooks checkpoints
.ipynb_checkpoints/

# Environnements virtuels
venv/
env/
ENV/

# Fichiers système
.DS_Store
Thumbs.db
